[defaults]
inventory = /etc/ansible/inventory
host_key_checking = False
ANSIBLE_HOSTS=/etc/ansible/inventory/ec2.py
EC2_INI_PATH=/etc/ansible/inventory/ec2.ini
ansible_python_interpreter=/usr/bin/python3
interpreter_python=auto_legacy_silent
remote_tmp=~/.ansible/tmp

#[ssh_connection]
#scp_if_ssh=True
